.main-application-container {
    margin-left: 250px;
    margin-bottom: 100px;
}

.main-project-title {
    font-family: 'Indie Flower', cursive;
    color: #111;
    text-align: center;
    margin: 0 !important;
    padding-top: 60px;
}

.welcome-message {
    text-align: center;
    padding: 100px 0;
    margin: auto;
}

.welcome-message p {
    display: block;
    font-size: 1.2rem;
    padding: 20px 200px;
}

.bugr-icon-main {
    height: auto;
    width: 120px;
    display: flex;
    justify-content: center;
    margin: auto;
}

@media (max-width: 960px) {

    .main-application-container {
        margin-left: 200px;
    }
}

@media (max-width: 780px) {

    .main-application-container {
        margin-left: 0;
    }

    .welcome-message p {
        padding: 20px 100px;
    }
}

@media (max-width: 450px) {

    .welcome-message p {
        padding: 20px 40px;
    }
}




  