.app-ribbon {
    position: fixed;
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: darkslategrey;
    border-bottom: 1px solid #222;
    z-index: 1;
}

.app-ribbon-btn-container {
    display: flex;
    margin-left: 10px;
}

.ribbon-btn,
.app-control-btn {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.ribbon-btn:hover,
.app-control-btn:hover {
    background-color: rgb(43, 66, 66);
}

.app-visibility-controls-container {
    display: flex;
    margin-right: 10px;
}

