.status-selector-container {
    position: absolute;
    left: -150px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 3;
}

.selector-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.selector-header-container p {
    display: block;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
}

.status-option {
    width: 120px;
    cursor: pointer;
}

.status-color {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin: auto !important;
}

.status-title {
    display: block;
    text-align: center;
    color: #fff;
    line-height: 30px;
    margin: 5px;
    pointer-events: none;
}

.status-title:hover {
    color: indigo;
}

.remove-selector {
    color: red;
    cursor: pointer;
}

@media (max-width: 780px) {
    
    .status-selector-container {
        top: 50px;
        left: 50px;
    }
}