.issue-group-title-container {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 0;
    margin: 0 0 0 5% !important;
}

.delete-group {
    margin-left: 5px;
    cursor: pointer;
}

.delete-group:hover {
    transform: scale(1.1);
}

.issue-group-title {
    font-family: 'Indie Flower', cursive;  
    margin: 0; 
}

.group-options-container {
    visibility: hidden;
}

.issue-group-title-container:hover .group-options-container {
    visibility: visible;
}

.add-group {
    margin-left: 10px;
    cursor: pointer;
}

.add-group:hover {
    transform: scale(1.1);
}

.issue-box {
    width: 90%;
    border-radius: 10px;
    border: 3px dashed greenyellow;
    padding: 20px;
    margin: auto;
}

@media (max-width: 780px) {

    .issue-box {
        width: 85%;
    }
}

@media (max-width: 650px) {
    
    .issue-box {
        width: 80%;
    }
}