.issue-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.issue-description-container {
    display: flex;
    width: 60%;
}

.issue-description,
.completion-date {
    width: 95%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid #222;
    outline: none;
}

.issue-menu {
    margin-left: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.issue-menu:hover {
    transform: scale(1.2);
}

.issue-state-btn-container {
    position: relative;
    display: flex;
    width: 20%;
    margin-left: 15px;
}

.date-container {
    display: flex;
    margin-left: 25px;
}