.issue-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.issue-description-container {
    display: flex;
    width: 60%;
}

.issue-description,
.completion-date {
    width: 95%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid #222;
    outline: none;
}

.issue-menu {
    margin-left: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.issue-menu:hover {
    transform: scale(1.2);
}

.issue-options-temp-container,
.date-options-temp-container {
    position: relative;
}

.issue-state-btn-container {
    position: relative;
    display: flex;
    width: 20%;
    margin-left: 15px;
}

.date-container {
    display: flex;
    margin-left: 25px;
}

.issue-options-container,
.date-options-container {
    position: absolute;
    top: 10px;
    left: -105px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 0;
    padding: 5px 10px 10px 10px;
    z-index: 2;
}

.date-options-container {
    left: -80px;
}

.issue-options-list,
.date-options-list {
    margin: 0;
    padding: 0;
}

.issue-option-list-element,
.date-option-list-element {
    list-style: none;
    cursor: pointer;
}

.issue-option-list-element:hover,
.date-option-list-element:hover {
    color: blue;
}

.remove-menu-options {
    color: red;
    margin-left: 80%;
    cursor: pointer;
}

.date-options-container .remove-menu-options {
    margin-left: 75%;
} 

@media (max-width: 1200px) {

    .issue-container {
        display: block;
    }

    .issue-description-container {
        width: 90%;
        margin: 0 auto;
    }

    .issue-state-btn-container {
        display: inline-flex;
        width: 50%;
        margin: 20px 0 20px 5%;
    }
    
    .date-container {
        display: inline-flex;
        width: 35.5%;
    }
}

@media (max-width: 650px) {

    .issue-container {
        margin: 50px 0;
    }

    .issue-state-btn-container {
        display: flex;
        width: 100%;
    }
    
    .date-container {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }
}