.issue-state-btn {
    position: relative;
    background: none;
    border: none;
    font-weight: bold;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    z-index: 0;
}

/* Colours */

.Todo {
    background-color: yellowgreen;
}

.Progressing {
    background-color: teal;
}

.Complete {
    background-color: green;
}

.Stuck {
    background-color: red;
}

.Low {
    background-color: chartreuse;
    margin-left: 15px;
}

.Medium {
    background-color: darkorange;
    margin-left: 15px;
}

.High {
    background-color: red;
    margin-left: 15px;
}

.Urgent {
    background-color: #000;
    margin-left: 15px;
}